### The Goal of this model is to get the 100000 Stock outcomes and predict the outcome specifically in terms of seeing / predicting the outcomes using 20% of the total data to make a model prediciting these outcomes

In [ ]:
import pandas as pd
import requests
import nasdaqdatalink
import os
import yfinance as yf
import quandl
import glob

#### Have to go through every folder and concacinate each output into a single data frame

def combined_dataframe_geneartion(csv_directories):
    all_dataframes =[]
    for csv_file in glob.glob(os.path.join(csv_directories,'*.*')):
        if os.path.getsize(csv_file) == 0:
            continue
        else:
            df = pd.read_csv(csv_file, sep = ',', header=0)
            df['filename'] = os.path.basename(csv_file)
            all_dataframes.append(df)
        
    combined_df = pd.concat(all_dataframes, ignore_index=True)
    return combined_df

In [ ]:
### Do Not need to run unless CSV files are missing


ETF_csv_directories = 'C:\\Users\\scott\\OneDrive\\Desktop\\ETFs\\'
ETF_Dataframe = combined_dataframe_geneartion(ETF_csv_directories)
Stock_csv_directories = 'C:\\Users\\scott\\OneDrive\\Desktop\\Stocks\\'
Stocks_Dataframe = combined_dataframe_geneartion(Stock_csv_directories)

ETF_Dataframe.to_csv("ETFsCombined.csv")
Stocks_Dataframe.to_csv("StocksCombined.csv")

In [48]:
# Clean Data Specficially for each Type of Ticker. (Could potentially try to get the full name for each value)

ETF_Dataframe['Ticker'] = ETF_Dataframe['filename'].str.split('.').str[0]
Stocks_Dataframe['Ticker'] = Stocks_Dataframe['filename'].str.split('.').str[0]
ETF_Dataframe = ETF_Dataframe.drop('filename', axis = 1)
Stocks_Dataframe = Stocks_Dataframe.drop('filename', axis = 1)

In [51]:

Stocks_Dataframe.head(5)

,Unnamed: 0,Date,Open,High,Low,Close,Volume,OpenInt,Ticker
0,0,1999-11-18,30.713,33.754,27.002,29.702,66277506,0,a
1,1,1999-11-19,28.986,29.027,26.872,27.257,16142920,0,a
2,2,1999-11-22,27.886,29.702,27.044,29.702,6970266,0,a
3,3,1999-11-23,28.688,29.446,27.002,27.002,6332082,0,a
4,4,1999-11-24,27.083,28.309,27.002,27.717,5132147,0,a